/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 25 abr 2026, 17:00:30
    Author     : USER
*/
header {
    background-color: lightblue;
    width: 100%;
    font-size: larger;
}

li{
    display: inline;
}
table{
    border-collapse: collapse;
    width: 600px;
}
td{
    border: black solid 1px;
    padding: 0;
    height: 50px;
}